.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.2);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #2e363e;
}
.nav__notification {
  position: absolute;
  left: 25px;
  bottom: 30px;
}
.nav__more {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 30px;
  bottom: 35px;
}
.material-symbols-outlined.icon-account_circle {
  font-size: 40px;
}
.material-symbols-outlined.icon-chat_bubble {
  font-size: 40px;
}
.material-symbols-outlined.icon-search {
  font-size: 40px;
}
.material-symbols-outlined.icon-more_horiz {
  font-size: 40px;
}
.material-symbols-outlined.icon-search_check_2 {
  font-size: 40px;
}
